<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <div class="col-10 offset-1">
            <h5>
              Contact Us!
            </h5>
            </div>
        </div>
        <div class="card-body ">
          <div id="map" class="map">
            <form #f="ngForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-12 col-sm-6 form-group required">
                  <label for="name">Name</label>
                  <input type="text" [disabled]="loading" [(ngModel)]="contact.Name" name="contact.Name" required="" class="form-control text-input"
                    id="name" placeholder="Name" />
                </div>
                <div class="col-12 col-sm-6 form-group required">
                  <label for="email">E-mail</label>
                  <input type="email" [disabled]="loading" [(ngModel)]="contact.Email" name="contact.Email" required=""
                    class="form-control text-input" id="email" placeholder="E-mail" />
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group required">
                  <label for="subject">Subject</label>
                  <input type="text" [disabled]="loading" [(ngModel)]="contact.Subject" name="contact.Subject" required=""
                    class="form-control text-input" id="subject" placeholder="Subject" />
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group required">
                  <label for="message">Message</label>
                  <textarea type="text" [disabled]="loading" [(ngModel)]="contact.Message" name="contact.Message" required=""
                    class="form-control" id="message" placeholder="Message..."></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" [disabled]="loading" class="btn btn-success">Send</button>
                </div>
              </div>
            </form>
            <br>
            <div class="map">
              <p class="now-ui-icons ui-1_email-85" ><a href="mailto:something@gmail.com ?subject=feedback"> : something@gmail.com</a></p><br>
              <p class="now-ui-icons ui-2_chat-round" > : 9876543210</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
