<div class="panel-header">
  <div class="header text-center">
    <h2 class="title stats"><i class="now-ui-icons education_atom spin"></i>  API</h2>
    <p class="category">Documentation for Stock predictor API
      <!-- <a href="https://scttcper.github.io/ngx-toastr/" target="_blank">full documentation.</a> -->
    </p>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">API basics</h4>
        </div>
        <div class="card-body">
          <h6> - Available on GET requests </h6>
        </div>
        <div class="card-body">
          <h6> - Prediction Data </h6>
          <div >- Endpoint :
            <a class="text-info" href="https://api.stockpredict.ml/data/">
               https://api.stockpredict.ml/data/company_name </a>
          </div>
        </div>
        <div class="card-body">
          <h6> - Previous data (Advanced) </h6>
          <div >- Endpoint : 
            <a class="text-info" href="https://api.stockpredict.ml/data/full/">
              https://api.stockpredict.ml/data/full/company_name </a>
          </div>
        </div>
        <div class="card-body">
          Note : Requests are cached for 24 hours 
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Sample response</h4>
        </div>
        <div class="card-body">
          <div >
            <a class="text-info" href="/apidoc">
              Query: https://api.stockpredict.ml/data/aapl </a>
          </div>
          <div>
            <span>Response :</span>
            <blockquote style="background-color: #282828;">
              <p class="blockquote blockquote-primary">
                {{'{'}}<br>
                   "Name":"AAPL",<br>
                   "Closing Price":[
                      77.37750244140625,
                      68.33999633789062,...
                   ],<br>
                   "Volume":[
                      2934370400.0,
                      3019851200.0,...
                   ],<br>
                   "LSTM":[
                      119.87743377685547,
                      120.10971069335938,...
                   ],<br>
                   "Lstm Accuracy":94.61319477436646,<br>
                   "Arima":[
                      115.07233307200813,
                      115.0228048427293,
                      115.3210068203414,...
                   ],<br>
                   "Arima Accuracy":92.10235028020483<br>
                {{'}'}}
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  Sample Code
                  <p class="category">Available in 6 languages</p>
                </h4>
              </div>
            </div>
            
            <h6>1) JavaScript XHR</h6>
            <div class="row d-flex justify-content-center">
              <div class="col-md-10" style="background-color: #282828;border-radius: 10px;">
              <code style="color: white;">
                <br>var xhr = new XMLHttpRequest(); <br><br>

                xhr.addEventListener("readystatechange", function() {{'{'}}<br>
                  if(this.readyState === 4) {{'{'}}<br>
                    console.log(this.responseText);<br>
                  {{'}'}}<br>
                {{'}'}});<br>
                <br>
                xhr.open("GET", "https://api.stockpredict.ml/data/company_name");
                <br><br>
                xhr.send();<br><br>
              </code>
            </div>
            </div>
<br><br>
            <h6>2) Node JS request</h6>
            <div class="row d-flex justify-content-center">
              <div class="col-md-10" style="background-color:  #282828;border-radius: 10px;">
              <code style="color: white;">
                <br>var request = require('request');<br>
                var options = {{'{'}}<br>
                  'method': 'GET',<br>
                  'url': 'https://api.stockpredict.ml/data/company_name',<br>
                  'headers': {{'{'}}<br>
                  {{'}'}}<br>
                {{'}'}};<br>
                request(options, function (error, response) {{'{'}}<br>
                  if (error) throw new Error(error);<br>
                  console.log(response.body);
                  {{'}'}});<br><br>
              </code>
            </div>
            </div>
            <br><br>
            <h6>3) PHP pecl_http</h6>
            <div class="row d-flex justify-content-center">
              <div class="col-md-10" style="background-color:  #282828;border-radius: 10px;">
              <code style="color: white;">
                  <br>$client = new http\Client;
                  <br>$request = new http\Client\Request;
                  <br>$request->setRequestUrl('https://api.stockpredict.ml/data/company_name');
                  <br>$request->setRequestMethod('GET');
                  <br>$request->setOptions(array());
<br>
                  <br>$client->enqueue($request)->send();
                  <br>$response = $client->getResponse();
                  <br>echo $response->getBody();<br><br>
              </code>
            </div>
            </div>
            <br><br>
            <h6>4) Python Requests</h6>
            <div class="row d-flex justify-content-center">
              <div class="col-md-10" style="background-color:  #282828;border-radius: 10px;">
              <code style="color: white;">
               <br>import requests
               <br>
                <br>url = "https://api.stockpredict.ml/data/company_name"
<br>
                <br>response = requests.request("GET", url)
<br>
                <br>print(response.text)<br><br>

              </code>
            </div>
            </div>

            <br><br>
            <h6>5) cURL</h6>
            <div class="row d-flex justify-content-center">
              <div class="col-md-10" style="background-color:  #282828;border-radius: 10px;">
              <code style="color: white;">
                <br>curl --location --request GET 'https://api.stockpredict.ml/data/company_name'<br><br>
              </code>
            </div>
            </div>

            

            <br><br>
            <h6>6) Java unirest</h6>
            <div class="row d-flex justify-content-center">
              <div class="col-md-10" style="background-color:  #282828;border-radius: 10px;">
              <code style="color: white;">
                <br>Unirest.setTimeouts(0, 0);
                <br>HttpResponse&lt;String&gt; response = Unirest.get("https://api.stockpredict.ml/data/company_name")
                <br>  .asString();<br><br>
              </code>
            </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
