<div class="panel-header panel-header-sm">
</div>
<div class="main-content" >
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="background-image: url(../assets/img/back.jpg);">
        <div class="card-header ">
          <div class="col-10 offset-1" style="color: White;">
          <strong><h5>About Us!</h5></strong>
          </div>
        </div>
        <div class="card-body ">
            <p class="col-10 offset-1" style="color: White;">
              Our mission is to give some assistance to the stockmarket traders for their investment in wide range of companies.
           </p>
        </div>
      </div>
      <div class="card ">
          <div class="card-header ">
          <div class="col-10 offset-1" >
          <strong><h5>WHO ARE WE</h5></strong>
          </div>
          </div>
          <div class="card-body ">
          <div class="w3-row-padding">
            <div class="w3-col l3 m6 w3-margin-bottom">
              <h3>Nithin S</h3>
              <p class="w3-opacity">Web Developer</p>
              <p><a href="mailto:nithin.s491@gmail.com" class="w3-button w3-light-grey w3-block">Contact</a></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
              <h3>Rajesh Manchikanti</h3>
              <p class="w3-opacity">Machine Learning Engineer</p>
              <p><a href="mailto:rajeshmanchikanti10@gmail.com" class="w3-button w3-light-grey w3-block">Contact</a></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
              <h3>Kokila K N</h3>
              <p class="w3-opacity">Machine Learning Engineer</p>
              <p><a href="mailto:kokilakn13@gmail.com"class="w3-button w3-light-grey w3-block">Contact</a></p>
            </div>
          </div>
          </div>
      </div>
      </div>
    </div>
  </div>
