<div class="panel-header">
  <div class="header text-center">
    <h2 class="title stats"><i class="now-ui-icons education_atom spin"></i>  API</h2>
    <p class="category">Documentation for Stock predictor API
      <!-- <a href="https://scttcper.github.io/ngx-toastr/" target="_blank">full documentation.</a> -->
    </p>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">API basics</h4>
        </div>
        <div class="card-body">
          <h6> - Available only on GET requests </h6>
          <div >
            <p class="text-info">
              - Default endpoint : https://ourdomain.com/api/ </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Sample response</h4>
        </div>
        <div class="card-body">
          <div >
            <p class="text-info">
              Query: https://ourdomain.com/api/tsla </p>
          </div>
          <div>
            <span>Response :</span>
            <blockquote>
              <p class="blockquote blockquote-primary">
                <img src="/assets/img/jsonex.png" alt="">
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  Sample Code
                  <p class="category">Available in 6 languages</p>
                </h4>
              </div>
            </div>
            <div class="row">
              <code ng-include="'xhr.html'">

              </code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
