<div class="panel-header panel-header-lg">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="lineBigDashboardChartData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Upcoming days</h5>
          <h4 class="card-title">Short Term</h4>
          <!-- <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div> -->
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="lineChartExample"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [colors]="lineChartColors"
                        [options]="lineChartOptions"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> <span class="lstm">Just Updated</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">upcoming days</h5>
          <h4 class="card-title">Long Term</h4>
          <!-- <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div> -->
        </div>
        <div class="card-body">
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            <canvas baseChart id="lineChartExampleWithNumbersAndGrid"
                        [datasets]="lineChartWithNumbersAndGridData"
                        [labels]="lineChartWithNumbersAndGridLabels"
                        [colors]="lineChartWithNumbersAndGridColors"
                        [options]="lineChartWithNumbersAndGridOptions"
                        [chartType]="lineChartWithNumbersAndGridType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> <span class="arima">Just Updated</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Volume</h5>
          <h4 class="card-title">Last 12 months</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="barChartSimpleGradientsNumbers"
                        [datasets]="lineChartGradientsNumbersData"
                        [labels]="lineChartGradientsNumbersLabels"
                        [colors]="lineChartGradientsNumbersColors"
                        [options]="lineChartGradientsNumbersOptions"
                        [chartType]="lineChartGradientsNumbersType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h5 class="card-category">Latest Stock News</h5>
          <h4 class="card-title">{{dateToday}}</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td class="text-left"><strong><a href="#" class="News1">News</a></strong><p class="Des1">description</p></td>
                </tr>
                <tr>
                  <td class="text-left"><strong><a href="#" class="News2">News</a></strong><p class="Des2">description</p></td>
                </tr>
                <tr>
                  <td class="text-left"><strong><a href="#" class="News3">News</a></strong><p class="Des3">description</p>
                  </td>
                </tr>
                <tr>
                  <td class="text-left"><strong><a href="#" class="News4">News</a></strong><p class="Des4">description</p>
                  </td>
                </tr>
                <tr>
                  <td class="text-left"><strong><a href="#" class="News5">News</a></strong><p class="Des5">description</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Updated 5 minute ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Stocks</h5>
          <h4 class="card-title">Recent Searchs</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Symbol
                </th>
                <th>
                  Today
                </th>
                <th>
                  Tommorow
                </th>
                <th>
                  Day after Tommorow
                </th>
              </thead>
              <tbody>
                <tr>
                  <td class="name1" href="#">
                  </td >
                  <td class="today1">
                  </td>
                  <td class="tmrw1">
                  </td>
                  <td class="dtmrw1">

                  </td>
                </tr>
                <tr>
                  <td class="name2" href="#">
                  </td >
                  <td class="today2">
                  </td>
                  <td class="tmrw2">
                  </td>
                  <td class="dtmrw2">

                  </td>
                </tr>
                <tr>
                  <td class="name3" href="#">
                  </td >
                  <td class="today3">
                  </td>
                  <td class="tmrw3">
                  </td>
                  <td class="dtmrw3">

                  </td>
                </tr>
                <tr>
                  <td class="name4" href="#">
                  </td >
                  <td class="today4">
                  </td>
                  <td class="tmrw4">
                  </td>
                  <td class="dtmrw4">

                  </td>
                </tr>
                <tr>
                  <td class="name5" href="#">
                  </td >
                  <td class="today5">
                  </td>
                  <td class="tmrw5">
                  </td>
                  <td class="dtmrw5">

                  </td>
                </tr>
                <tr>
                  <td class="name6" href="#">
                  </td >
                  <td class="today6">
                  </td>
                  <td class="tmrw6">
                  </td>
                  <td class="dtmrw6">

                  </td>
                </tr>
                <tr>
                  <td class="name7" href="#">
                  </td >
                  <td class="today7">
                  </td>
                  <td class="tmrw7">
                  </td>
                  <td class="dtmrw7">

                  </td>
                </tr>
                <tr>
                  <td class="name8" href="#">
                  </td >
                  <td class="today8">
                  </td>
                  <td class="tmrw8">
                  </td>
                  <td class="dtmrw8">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
